name: Leaderboard Bot

on:
  push:
    paths:
      - 'submissions/**'

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetches all history so push doesn't fail

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run evaluation
        env:
          COMPETITION_PRIVATE_KEY: ${{ secrets.COMPETITION_PRIVATE_KEY }}
          TEST_LABELS: ${{ secrets.TEST_LABELS }}
        run: python evaluate.py

      - name: Update Leaderboard Data
        run: |
          python render_leaderboard.py

      - name: Commit and Push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git pull origin main # Get any changes made while this was running
          git add leaderboard.csv leaderboard.md
          git commit -m "Update leaderboard with new score" || exit 0
          git push origin main
